@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ucurrio un error al hacer conexion con el API. Verifique que el mismo se encuentre activo.</h2>

